name: Github Action 실행해보기

on:
  push:
    branches:
      - main

jobs:
  My-Deploy-Job:
    runs-on: ubuntu-latest

    steps:
      - name: Hello World 찍기
        run: ehco "Hello World"

      - name: 여러 명령어 문장 작성하기
        run: |
          ehco "Good"
          ehco  "Morning"
